body            { font-family: 'Open Sans', sans-serif; background: #D6CCB1; margin-top: 60px; height: 90%; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Copse', serif; margin: 0; color: #353C53;}
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.address-form   { width: 100%; margin-top: 60px; }
.rep_deck       { overflow-x: hidden}
.rep_card       { width: 230px; background: #ede9de; }
.rep_info       { }
.rep_img        { object-fit: cover; width: 229px; height: 260px; }
.rep_header     { font-size: 12px; font-weight: bold; height: 42px;}
.contacts       { line-height: 1em;}
.error          { background: #f0d6d6; padding: 0.5em; }